<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale com o DevBurger</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
<h1>Olá, envie sua mensagem</h1>

    <form action="/contato" method="POST">
        <div>
            <label for="nome">Qual seu nome?</label>
            <input type="text" name="nome" id="nome" required />
        </div>

        <div>
            <label for="email">Qual seu e-mail?</label>
            <input type="email" name="email" id="email" required />
        </div>

        <div>
            <label for="motivo">Qual seria o motivo do contato?</label>
            <input type="text" name="motivo" id="motivo" required />
        </div>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>