/* Título principal (h1)*/
h1 {
    text-align: center;
    font-size: 48px;
    color: #e37c3d;
    margin-bottom: 40px
}

/* Título Secundário (h2) */
h2 {
    text-align: left;
    color: #e37c3d;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Estilo geral da página */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0e0e0e;
    color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

/* Rodapé (footer) */
footer {
    text-align: center;
    margin-top: 50px;
}

/*Botões gerais */
button {
    background-color: #e37c3d;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botão ao passar o mouse */
button:hover {
    background-color: #c45a20;
}

/* Seção do cardápio */
.categoria {
    margin: 40px 0;
    padding: 20px;
    background-color: #250f02;
    border: 1px solid #210000;
    border-radius: 8px;
    border: 5px solid #550101;   
}

/* Listagem de lanches dentro das categorias */
.cardapio-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo de cada lanche individualmente */
.lanche {
    width: 280px;
    padding: 20px;
    background-color: #0e0e0e;
    border: 2px solid #e37c3d;
    border-radius: 10px;
    text-align: center;
    color: #f2f2f2;
    box-shadow: 0 0 10px rgba(227, 124, 61, 0.2);
}

/* Estilo padrão para as imagens dos lanches */
.lanche img {
  width: 100%;
  height: 180px;           /* Altura padrão */
  object-fit: cover;       /* Corta o excesso mantendo proporção */
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Estiliza os campos do formulário */
form div {
  margin-bottom: 20px; /* espaço entre os campos */
}

/* Estiliza os inputs de texto e e-mail */
form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Estilo especial para o campo de ingredientes */
#ingredientes {
  height: 80px; /* Aumenta a altura */
  resize: none; /* Impede redimensionamento */
}

/* Seção sobre a pessoa que fez esse projeto */
.sobre {
    margin-top: 60px;
    padding: 20px;
    background-color: #210000;;
    border: 2px solid #c45a20;
    border-radius: 10px;
    color: #f2f2f2;
    box-shadow: 0 0 10px rgba(227, 124, 61, 0.2);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}